<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Hello Vue!</title>
</head>
<body>
<div id="app">
    <div class=" max-h-screen overflow-y-auto p-6 bg-blue-50 h-50 max-w-3xl mx-auto w-50 border ">
        <div class="header flex justify-between items-center mb-4 text-lg font-semibold">
            <h1>Recent stories</h1>
            <button class="bg-green-600 hover:bg-green-700 text-white font-bold px-6 py-2 rounded-md text-sm">New Story</button>
        </div>
        <div class="flex flex-col">
            <template v-for="(story,index) in stories">
                <div class="bg-white p-4 mb-3 w-full shadow-md rounded-sm">
                    <div>
                        <small class="text-gray-500 text-sm">Title</small>
                        <h1 class="font-bold text-lg">{{story.title}}</h1>
                    </div>
                    <div class="mt-2">
                        <small class="text-gray-500 text-sm">Description</small>
                        <p class="text-md">{{story. description}}</p>
                        <div class="mt-2 text-sm italic text-gray-500">-by 
                            <span class="italics">{{story.author}}</span>
                            on <span class="italics">{{story. date}}</span>
                        </div>
                    </div>
                    <ul class="flex flex-row mt-4">
                        <template v-for="(tag, index) in story.tags" :key="index" >
                            <li class="px-2 py-1 mx-1 text-xs text-green-500 rounded-sm inline-block bg-green-50">{{tag}}</li>
                        </template>
                    </ul>
                </div>
            </template>
        </div>
    </div>
    <div class=" max-w-sm bg-white p-4 border rounded-sm">
        <form>
            <template v-for="(input, index) in form" :key="index">
                <div v-if="!input.type" class="border mb-3 rounded-sm p-4">
                    <small>{{input.placeholder}}</small>
                    <input type="text" name='input.name' class="bg-gray-50 px-4 py-2 w-full focus:bg-white border border-2" placeholder="input.placeholder" />
                </div>
                <div v-if="input.type" class="border mb-3 rounded-sm p-4">
                    <small>{{input.placeholder}}</small>
                    <textarea name='input.name' class="bg-gray-50 px-4 py-2 w-full focus:bg-white border border-2" placeholder="input.placeholder" />
                </div>
            </template>
        </form>
    </div>
</div>
    
<script src="app.js"></script>
</body>
</html>